#For Loop

In [1]:
# Solution 1
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
# Solution 2
total = 0
for i in range(1, 101):
    total += i
print("Sum:", total)

Sum: 5050

In [3]:
# Solution 3
my_list = [1, 2, 3, 4, 5]
for item in my_list:
    print(item)

1
2
3
4
5

In [6]:
# Solution 4
my_list = [1, 2, 3, 4, 5]
product = 1
for num in my_list:
    product *= num
print("Product:", product)

Product: 120

In [5]:
# Solution 5
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [7]:
# Solution 6
n = int(input("Enter a number: "))
factorial = 1
for i in range(1, n + 1):
    factorial *= i
print("Factorial:", factorial)

Enter a number: 7
Factorial: 5040

In [8]:
# Solution 7
my_string = "Hello, World!"
for char in my_string:
    print(char)

H
e
l
l
o
,

W
o
r
l
d
!

In [9]:
# Solution 8
my_list = [3, 7, 1, 9, 5, 2]
max_num = my_list[0]
for num in my_list:
    if num > max_num:
        max_num = num
print("Largest number:", max_num)

Largest number: 9

In [10]:
# Solution 9
limit = int(input("Enter the limit: "))
a, b = 0, 1
while a <= limit:
    print(a)
    a, b = b, a + b

Enter the limit: 5
0
1
1
2
3
5

In [11]:
# Solution 10
my_string = "Hello, World!"
vowels = "aeiouAEIOU"
count = 0
for char in my_string:
    if char in vowels:
        count += 1
print("Number of vowels:", count)

Number of vowels: 3

In [12]:
# Solution 11
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [13]:
# Solution 12
my_list = [1, 2, 3, 4, 5]
reversed_list = []
for i in range(len(my_list) - 1, -1, -1):
    reversed_list.append(my_list[i])
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

In [14]:
# Solution 13
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = []
for item in list1:
    if item in list2:
        common_elements.append(item)
print("Common elements:", common_elements)

Common elements: [3, 4, 5]

In [15]:
# Solution 14
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in my_dict.items():
    print("Key:", key, "Value:", value)

Key: a Value: 1
Key: b Value: 2
Key: c Value: 3

In [17]:
# Solution 15
import math

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
gcd = math.gcd(a, b)
print("GCD:", gcd)

Enter the first number: 1
Enter the second number: 2
GCD: 1

In [18]:
# Solution 16
my_string = input("Enter a string: ")
is_palindrome = True
for i in range(len(my_string) // 2):
    if my_string[i] != my_string[len(my_string) - 1 - i]:
        is_palindrome = False
        break
if is_palindrome:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: Ketul
Not a palindrome

In [19]:
# Solution 17
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

In [20]:
# Solution 18
sentence = input("Enter a sentence: ")
words = sentence.split()
word_count = len(words)
print("Number of words:", word_count)

Enter a sentence: Ketul lUhr
Number of words: 2

In [21]:
# Solution 19
total = 0
for i in range(1, 51, 2):
    total += i
print("Sum of odd numbers:", total)

Sum of odd numbers: 625

In [22]:
# Solution 20
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2000
Leap year

In [23]:
# Solution 21
import math

num = float(input("Enter a number: "))
if num >= 0:
    square_root = math.sqrt(num)
    print("Square root:", square_root)
else:
    print("Cannot calculate square root of a negative number")

Enter a number: 3
Square root: 1.7320508075688772

In [25]:
# Solution 22
import math

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

# Find the GCD (Greatest Common Divisor) using the math library
gcd = math.gcd(a, b)

# Calculate the LCM (Least Common Multiple)
lcm = (a * b) // gcd

print("LCM:", lcm)

Enter the first number: 4
Enter the second number: 5
LCM: 20

In [26]:
# Solution 23
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in my_dict.items():
    print("Key:", key, "Value:", value)

Key: a Value: 1
Key: b Value: 2
Key: c Value: 3

#If else

In [27]:
# Solution 1
num = float(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 1
Positive

In [28]:
# Solution 2
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 3
Odd

In [29]:
# Solution 3
num = int(input("Enter a number: "))
if num > 0:
    print("Positive")
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 3
Positive
Odd

In [30]:
# Solution 4
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
c = float(input("Enter the third number: "))

if a >= b and a >= c:
    largest = a
elif b >= a and b >= c:
    largest = b
else:
    largest = c

print("Largest number:", largest)

Enter the first number: 2
Enter the second number: 3
Enter the third number: 4
Largest number: 4.0

In [31]:
# Solution 5
num = float(input("Enter a number: "))
if num >= 0:
    absolute_value = num
else:
    absolute_value = -num
print("Absolute value:", absolute_value)

Enter a number: 4
Absolute value: 4.0

In [32]:
# Solution 6
char = input("Enter a character: ").lower()  # Convert to lowercase for case-insensitivity

if char in 'aeiou':
    print("Vowel")
else:
    print("Consonant")

Enter a character: Ketul
Consonant

In [33]:
# Solution 7
age = int(input("Enter your age: "))
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age: 22
You are eligible to vote.

In [34]:
# Solution 8
purchase_amount = float(input("Enter the purchase amount: "))
if purchase_amount >= 1000:
    discount = 0.1 * purchase_amount  # 10% discount
else:
    discount = 0
total_amount = purchase_amount - discount
print("Discount:", discount)
print("Total amount:", total_amount)

Enter the purchase amount: 2000
Discount: 200.0
Total amount: 1800.0

In [35]:
# Solution 9
num = int(input("Enter a number: "))
min_range = 10
max_range = 50

if min_range <= num <= max_range:
    print("Number is within the specified range.")
else:
    print("Number is outside the specified range.")

Enter a number: 16
Number is within the specified range.

In [36]:
# Solution 10
score = float(input("Enter your score: "))
if 90 <= score <= 100:
    grade = "A"
elif 80 <= score < 90:
    grade = "B"
elif 70 <= score < 80:
    grade = "C"
elif 60 <= score < 70:
    grade = "D"
else:
    grade = "F"
print("Your grade is:", grade)

Enter your score: 20
Your grade is: F

In [37]:
# Solution 11
my_string = input("Enter a string: ")
if len(my_string) == 0:
    print("The string is empty.")
else:
    print("The string is not empty.")

Enter a string: Ketu
The string is not empty.

In [38]:
# Solution 12
side1 = float(input("Enter the first side length: "))
side2 = float(input("Enter the second side length: "))
side3 = float(input("Enter the third side length: "))

if side1 == side2 == side3:
    triangle_type = "Equilateral"
elif side1 == side2 or side1 == side3 or side2 == side3:
    triangle_type = "Isosceles"
else:
    triangle_type = "Scalene"

print("Triangle type:", triangle_type)

Enter the first side length: 4
Enter the second side length: 5
Enter the third side length: 4
Triangle type: Isosceles

In [39]:
# Solution 13
day_number = int(input("Enter a day number (1-7): "))
if day_number == 1:
    day_name = "Monday"
elif day_number == 2:
    day_name = "Tuesday"
elif day_number == 3:
    day_name = "Wednesday"
elif day_number == 4:
    day_name = "Thursday"
elif day_number == 5:
    day_name = "Friday"
elif day_number == 6:
    day_name = "Saturday"
elif day_number == 7:
    day_name = "Sunday"
else:
    day_name = "Invalid day number"
print("Day:", day_name)

Enter a day number (1-7): 5
Day: Friday

In [40]:
# Solution 14
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

year = int(input("Enter a year: "))
if is_leap_year(year):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2000
Leap year

In [41]:
# Solution 15
num = int(input("Enter a number: "))
assert num >= 0, "Number must be non-negative"
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 20
Even

In [42]:
# Solution 16
age = int(input("Enter your age: "))
if age >= 60:
    print("You are eligible for a senior citizen discount.")
else:
    print("You are not eligible for a senior citizen discount.")

Enter your age: 22
You are not eligible for a senior citizen discount.

In [43]:
# Solution 17
char = input("Enter a character: ")

if char.isupper():
    print("Uppercase character")
elif char.islower():
    print("Lowercase character")
else:
    print("Neither uppercase nor lowercase character")

Enter a character: Ketul
Neither uppercase nor lowercase character

In [44]:
# Solution 18
import math

a = float(input("Enter the coefficient a: "))
b = float(input("Enter the coefficient b: "))
c = float(input("Enter the coefficient c: "))

discriminant = b**2 - 4*a*c

if discriminant > 0:
    root1 = (-b + math.sqrt(discriminant)) / (2*a)
    root2 = (-b - math.sqrt(discriminant)) / (2*a)
    print("Two real and distinct roots:", root1, "and", root2)
elif discriminant == 0:
    root1 = root2 = -b / (2*a)
    print("One real root:", root1)
else:
    real_part = -b / (2*a)
    imaginary_part = math.sqrt(abs(discriminant)) / (2*a)
    print("Complex roots:", real_part, "+", imaginary_part, "i and", real_part, "-", imaginary_part, "i")

Enter the coefficient a: 4
Enter the coefficient b: 4
Enter the coefficient c: 4
Complex roots: -0.5 + 0.8660254037844386 i and -0.5 - 0.8660254037844386 i

In [45]:
# Solution 19
year = int(input("Enter a year: "))
if year % 100 == 0:
    print("Century year")
else:
    print("Not a century year")

Enter a year: 2023
Not a century year

In [46]:
# Solution 20
import math

num = int(input("Enter a number: "))
if num >= 0 and math.isqrt(num)**2 == num:
    print("Perfect square")
else:
    print("Not a perfect square")

Enter a number: 23
Not a perfect square

In [47]:
# Solution 21
weight = float(input("Enter your weight (in kilograms): "))
height = float(input("Enter your height (in meters): "))

bmi = weight / (height**2)

if bmi < 18.5:
    category = "Underweight"
elif 18.5 <= bmi < 25:
    category = "Normal weight"
elif 25 <= bmi < 30:
    category = "Overweight"
else:
    category = "Obese"

print("BMI:", bmi)
print("Category:", category)

Enter your weight (in kilograms): 56
Enter your height (in meters): 163
BMI: 0.0021077195227520796
Category: Underweight

In [48]:
# Solution 22
num = int(input("Enter a number: "))

if num <= 1:
    is_prime = False
else:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

if is_prime:
    print("Prime number")
else:
    print("Not a prime number")

Enter a number: 20
Not a prime number

In [49]:
# Solution 23
num = int(input("Enter a number: "))
assert num >= 0, "Number must be non-negative"
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 65
Odd

#map()

The map() function in Python is used to apply a specified function to each item in an iterable (e.g., a list, tuple, or any other iterable). It returns an iterator, which can be converted into other iterable types such as a list or tuple. The purpose of the map() function is to simplify the process of applying a function to each element of an iterable without the need for explicit loops.

Here's the general syntax of the map() function:

In [51]:
# map(function, iterable)

function: The function to apply to each element of the iterable.

iterable: The iterable (e.g., a list) containing the elements to which the function will be applied.

In [53]:
# Example 1

numbers = [1, 2, 3, 4, 5]

# Using map() to square each element
squared_numbers = map(lambda x: x**2, numbers)

# Converting the result to a list
squared_numbers_list = list(squared_numbers)

print(squared_numbers_list)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [54]:
# Example 2

names = ["Alice", "Bob", "Charlie"]

# Using map() to convert names to uppercase
uppercased_names = map(str.upper, names)

# Converting the result to a list
uppercased_names_list = list(uppercased_names)

print(uppercased_names_list)  # Output: ['ALICE', 'BOB', 'CHARLIE']

['ALICE', 'BOB', 'CHARLIE']

In [55]:
# Example 3

words = ["apple", "banana", "cherry"]

# Using map() to calculate the length of each word
word_lengths = map(len, words)

# Converting the result to a list
word_lengths_list = list(word_lengths)

print(word_lengths_list)  # Output: [5, 6, 6]

[5, 6, 6]

In [56]:
# Example 4

def celsius_to_fahrenheit(celsius_temp):
    return (celsius_temp * 9/5) + 32

celsius_temperatures = [0, 25, 100]

# Using map() to convert temperatures
fahrenheit_temperatures = map(celsius_to_fahrenheit, celsius_temperatures)

# Converting the result to a list
fahrenheit_temperatures_list = list(fahrenheit_temperatures)

print(fahrenheit_temperatures_list)  # Output: [32.0, 77.0, 212.0]

[32.0, 77.0, 212.0]

In [57]:
# Example 5

numbers = [3.2, 4.8, 6.5, 2.1]

# Using map() to round numbers
rounded_numbers = map(round, numbers)

# Converting the result to a list
rounded_numbers_list = list(rounded_numbers)

print(rounded_numbers_list)  # Output: [3, 5, 6, 2]

[3, 5, 6, 2]

# Reduce

The reduce() function in Python is used to apply a specified function to the elements of an iterable successively in a cumulative way. It's part of the functools module, so you should import it using the following line:

In [58]:
# from functools import reduce

The reduce() function takes two arguments:

A binary function (a function that takes two arguments).
An iterable (e.g., a list) on which the function will be applied cumulatively.
Here's the basic syntax of the reduce() function:

In [59]:
# reduce(function, iterable, initializer=None)

function: The binary function that takes two elements from the iterable and returns a single result.

iterable: The iterable containing the elements on which the function will be applied successively.

initializer (optional): An initial value to start the accumulation. If not provided, the first two elements of the iterable are used as the initial values.

In [60]:
# Example 1

from functools import reduce

numbers = [1, 2, 3, 4, 5]

# Using reduce() to find the product of all elements
product = reduce(lambda x, y: x * y, numbers)

print("Product:", product)  # Output: 120

Product: 120

In [61]:
# Example 2

from functools import reduce

numbers = [12, 34, 56, 78, 90]

# Using reduce() to find the maximum element
max_num = reduce(lambda x, y: x if x > y else y, numbers)

print("Maximum:", max_num)  # Output: 90

Maximum: 90

In [62]:
# Example 3

from functools import reduce

strings = ["Hello", ", ", "World", "!"]

# Using reduce() to concatenate strings
concatenated_string = reduce(lambda x, y: x + y, strings)

print("Concatenated string:", concatenated_string)  # Output: "Hello, World!"

Concatenated string: Hello, World!

In [63]:
# Example 4

from functools import reduce

n = 5

# Using reduce() to calculate the factorial
factorial = reduce(lambda x, y: x * y, range(1, n + 1))

print("Factorial of", n, "is:", factorial)  # Output: 120

Factorial of 5 is: 120

In [64]:
# Example 5

from functools import reduce
import math

numbers = [24, 36, 48, 60]

# Using reduce() to find the GCD
gcd = reduce(math.gcd, numbers)

print("GCD:", gcd)  # Output: 12

GCD: 12

In [65]:
# Example 6

from functools import reduce

num = 12345

# Using reduce() to find the sum of digits
sum_of_digits = reduce(lambda x, y: int(x) + int(y), str(num))

print("Sum of digits:", sum_of_digits)  # Output: 15

Sum of digits: 15

#Filte

In [66]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using filter() to select even numbers
even_numbers = filter(lambda x: x % 2 == 0, numbers)

# Converting the result to a list
even_numbers_list = list(even_numbers)

print(even_numbers_list)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [67]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]

# Using filter() to select names starting with 'D'
filtered_names = filter(lambda name: name.startswith('D'), names)

# Converting the result to a list
filtered_names_list = list(filtered_names)

print(filtered_names_list)  # Output: ['David']

['David']

In [68]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

# Using filter() to select prime numbers
prime_numbers = filter(is_prime, numbers)

# Converting the result to a list
prime_numbers_list = list(prime_numbers)

print(prime_numbers_list)  # Output: [2, 3, 5, 7, 11]

[2, 3, 5, 7, 11]

In [69]:
values = [1, None, 2, 3, None, 4, 5]

# Using filter() to remove None values
filtered_values = filter(lambda x: x is not None, values)

# Converting the result to a list
filtered_values_list = list(filtered_values)

print(filtered_values_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [70]:
words = ["apple", "banana", "cherry", "date", "elderberry"]

# Using filter() to select words longer than 5 characters
filtered_words = filter(lambda word: len(word) > 5, words)

# Converting the result to a list
filtered_words_list = list(filtered_words)

print(filtered_words_list)  # Output: ['banana', 'cherry', 'elderberry']

['banana', 'cherry', 'elderberry']

In [71]:
values = [15, 20, 25, 30, 35, 40]

threshold = 28

# Using filter() to select values greater than the threshold
filtered_values = filter(lambda x: x > threshold, values)

# Converting the result to a list
filtered_values_list = list(filtered_values)

print(filtered_values_list)  # Output: [30, 35, 40]

[30, 35, 40]

#Recursion

In [72]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage
n = 5
result = factorial(n)
print(f"The factorial of {n} is {result}")

The factorial of 5 is 120

In [73]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

# Example usage
n = 7
result = fibonacci(n)
print(f"The {n}th Fibonacci number is {result}")

The 7th Fibonacci number is 13

In [74]:
def list_sum(lst):
    if not lst:
        return 0
    else:
        return lst[0] + list_sum(lst[1:])

# Example usage
numbers = [1, 2, 3, 4, 5]
result = list_sum(numbers)
print(f"The sum of elements in the list is {result}")

The sum of elements in the list is 15

In [75]:
def gcd(a, b):
    if b == 0:
        return a
    else:
        return gcd(b, a % b)

# Example usage
num1 = 48
num2 = 18
result = gcd(num1, num2)
print(f"The GCD of {num1} and {num2} is {result}")

The GCD of 48 and 18 is 6

In [76]:
def reverse_string(s):
    if not s:
        return s
    else:
        return reverse_string(s[1:]) + s[0]

# Example usage
input_str = "hello"
result = reverse_string(input_str)
print(f"Reversed string: {result}")

Reversed string: olleh

In [77]:
def power(x, n):
    if n == 0:
        return 1
    elif n < 0:
        return 1 / power(x, -n)
    else:
        return x * power(x, n - 1)

# Example usage
x = 2
n = 3
result = power(x, n)
print(f"{x} raised to the power {n} is {result}")

2 raised to the power 3 is 8

In [78]:
import itertools

def permutations(string):
    return [''.join(p) for p in itertools.permutations(string)]

# Example usage
input_str = "abc"
result = permutations(input_str)
print(f"Permutations of '{input_str}': {result}")

Permutations of 'abc': ['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

In [79]:
def is_palindrome(s):
    s = s.lower().replace(" ", "")  # Convert to lowercase and remove spaces
    if len(s) <= 1:
        return True
    elif s[0] != s[-1]:
        return False
    else:
        return is_palindrome(s[1:-1])

# Example usage
input_str = "A man a plan a canal Panama"
result = is_palindrome(input_str)
print(f"Is '{input_str}' a palindrome? {result}")

Is 'A man a plan a canal Panama' a palindrome? True

In [80]:
import itertools

def combinations(lst, k):
    return list(itertools.combinations(lst, k))

# Example usage
elements = [1, 2, 3]
k = 2
result = combinations(elements, k)
print(f"Combinations of {elements} choose {k}: {result}")

Combinations of [1, 2, 3] choose 2: [(1, 2), (1, 3), (2, 3)]