# TOPIC: String Based Assignment Problem

In [ ]:
#Solutions 1

user_string = ("This is reverse a string")

reverse_string = user_string[::-1]

print(reverse_string)

gnirts a esrever si sihT

In [ ]:
#Solutions 2

user_palindrome = input("Write a String: ")

cassensetiv = user_palindrome.replace(" ", "").lower()

reverse_string = cassensetiv[::-1]

if cassensetiv == reverse_string:
  print("It's Palindrome Word")
else:
  print("It's Not Palindrome Word")

Write a String: ooo
It's Palindrome Word

In [ ]:
#Solutions 3

user_string = input("Write Your String: ")

uppercase_string = user_string.upper()

print("Your converter string is:",uppercase_string)

Write Your String: pw skills
Your converter string is: PW SKILLS

In [ ]:
#Solutions 4

user_string = input("Write Your String: ")

lower_string = user_string.lower()

print("Your converter string is:",lower_string)

Write Your String: PW SKILLS
Your converter string is: pw skills

In [ ]:
#Solutions 5

user_string = input("Write Your String: ")

lower_string = user_string.lower()

vowel_count = 0

for char in lower_string:
  if char in ("aeiou"):
    vowel_count += 1

print(vowel_count)

Write Your String: my name is ketul
5

In [ ]:
#Solutions 6

user_string = input("Write Your String: ")

lower_string = user_string.lower()

consonants_count = 0

vowels = "aeiou"

for char in lower_string:
  if char.isalpha() and char not in vowels:
    consonants_count += 1

print(consonants_count)

Write Your String: my name is ketul
8

In [ ]:
#Solutions 7

user_string = input("Enter Your String: ")

space_remove = user_string.replace(" ", "")

print("Your space remove sentence is:",space_remove)

Enter Your String: My Name is ketul
Your space remove sentence is: MyNameisketul

In [ ]:
#Solutions 8

user_string = input("Write Your String: ")

length_count = 0

for char in user_string:
    length_count += 1

print(length_count)

Write Your String: my name is ketul
16

In [ ]:
#Solutions 9

user_string = input("Enter a string: ")

specific_word = input("Enter a word that you want to find: ")

if specific_word in user_string:
  print("Your word is in this string")
else:
  print("Your word is not in this string")

Enter a string: pw skills
Enter a word that you want to find: pw
Your word is in this string

In [ ]:
#Solutions 10

user_string = "My Name Is Khan"

new_word = user_string.replace("Khan","Ketul")

print(new_word)

My Name Is Ketul

In [ ]:
#Solutions 11

user_string = "my name is Ketul, and my hobbie is typing my name"

word_count = "my"

count = user_string.count(word_count)

print(count)

3

In [ ]:
#Solutions 12

user_string = "My name is Ketul, and my hobbie is typing my name"

word_find = "name"

find = user_string.find(word_find)

print(find)

3

In [ ]:
#Solutions 13

user_string = "My name is Ketul, and my hobbie is typing my name"

word_find = "my"

find = user_string.rfind(word_find)

print(find)

42

In [ ]:
#Solutions 14

user_string = "This is string, split me please"

split_string = user_string.split()

print("Your split string in list is:",split_string)

Your split string in list is: ['This', 'is', 'string,', 'split', 'me', 'please']

In [ ]:
#Solutions 15

user_string = ['This', 'is', 'string,', 'join', 'me', 'please']

join_string = ' '.join(user_string)

print("Your join string is:",join_string)

Your join string is: This is string, join me please

In [ ]:
#Solutions 16

user_string = "This is string separated by the space to under score"

sep_string = user_string.replace(" ", "_")

print(sep_string)

This_is_string_separated_by_the_space_to_under_score

In [ ]:
#Solutions 17

user_string = "Hello, this is a sample string"

specific_word = "Hello"

if user_string.startswith(specific_word):
  print("The string starts with specific word")
else:
  print("The string dose not starts with specific word")

The string starts with specific word

In [ ]:
#Solutions 18

user_string = "Hello, this is a sample string"

specific_word = "Hello"

if user_string.endswith(specific_word):
  print("The string Ends with specific word")
else:
  print("The string dose not Ends with specific word")

The string dose not Ends with specific word

In [ ]:
#Solutions 19

user_string = "This is a string with 'hello world'"

title_string = user_string.title()

print("Your title string is:",title_string)

Your title string is: This Is A String With 'Hello World'

In [ ]:
#Solutions 20
user_string = "This is a sample sentence with some long words like 'antidisestablishmentarianism'."

longest_word = max(user_string.split(), key=len)

print(longest_word)

'antidisestablishmentarianism'.

In [ ]:
#Solutions 21

user_string = "This is a sample sentence with some shortest words"

shortest_word = min(user_string.split(), key=len)

print(shortest_word)

is

In [ ]:
#Solutions 22

user_string = "This is my reversed string"

split_string = user_string.split()

reversed_string = " ".join(reversed(split_string))

print(reversed_string)

string reversed my is This

In [ ]:
#Solutions 23

user_string = "Hello123"

is_alphanumeric = user_string.isalnum()

if is_alphanumeric:
  print("The string is alphanumeric")
else:
  print("The string is not alphanumeric")

The string is alphanumeric

In [ ]:
#Solutions 24

user_string = "My age is 22 and i have an 5 ruppis in my bank account"

extracted_digit = ""

for char in user_string:
  if char.isdigit():
    extracted_digit += char

print("Extracted digits:",extracted_digit)

Extracted digits: 225

In [ ]:
#Solutions 25

user_string = "My age is 22 and i have an 5 ruppis in my bank account"

extracted_alphabets = ""

for char in user_string:
  if char.isalpha():
    extracted_alphabets += char

print("Extracted Alphabets:",extracted_alphabets)

Extracted digits: Myageisandihaveanruppisinmybankaccount

In [ ]:
#Solutions 26

user_string = "This string is for Count The Upper case Letters"

upper_case = 0

for char in user_string:
  if char.isupper():
    upper_case += 1

print("In this string upper latter count is:",upper_case)

In this string upper latter count is: 5

In [ ]:
#Solutions 27


user_string = "This string is for Count The lower case Letters"

lower_case = 0

for char in user_string:
  if char.islower():
    lower_case += 1

print("In this string lower case latter count is:",lower_case)

In this string lower case latter count is: 35

In [ ]:
#Solutions 28

user_string = "tHIS IS sTRING THAT SWAP cHARACTERS"

swap_char = user_string.swapcase()

print(swap_char)

This is String that swap Characters

In [ ]:
#Solutions 29

user_string = "hello this word remove"

delet_word = "this"

new_string = user_string.replace(delet_word,"")

print(new_string)

hello  word remove

In [1]:
#Solutions 30

import re

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False

email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [3]:
#Solutions 31

def extract_username(email):
    username = email.split('@')[0]
    return username


email = "ketulluhar@gmail.com"
your_mail = extract_username(email)
print(your_mail)

ketulluhar

In [4]:
#Solutions 32

def extract_domain(email):
    domain = email.split('@')[1]
    return domain

email = "ketulluhar@gmail.com"
your_domain = extract_domain(email)
print(your_domain)

gmail.com

In [7]:
#Solutions 33

def replace_multiple_spaces(user_string):
    cleaned_string = ' '.join(user_string.split())
    return cleaned_string


user_string = "My   name   is  Ketul ."
result = replace_multiple_spaces(user_string)
print(result)

My name is Ketul .

In [8]:
#Solutions 34

from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [9]:
#Solutions 35

def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [10]:
#Solutions 36

def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [11]:
#Solutions 37

import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [12]:
#Solutions 38

def contains_only_digits(input_string):
    # Check if all characters in the string are digits
    return input_string.isdigit()

# Example strings
string1 = "12345"
string2 = "Hello123"
string3 = "456.789"

# Check if strings contain only digits
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

# Print the results
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

In [13]:
#Solutions 39

def contains_only_alphabets(input_string):
    # Check if all characters in the string are alphabetic
    return input_string.isalpha()

# Example strings
string1 = "Hello"
string2 = "Hello123"
string3 = "12345"

# Check if strings contain only alphabets
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)

# Print the results
print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

In [25]:
#Solutions 40

def string_to_list(input_string):
    # Use list() constructor to convert the string to a list of characters
    char_list = list(input_string)
    return char_list

# Example string
input_str = "Hello, world!"

# Convert the string to a list of characters
char_list = string_to_list(input_str)

# Print the list of characters
print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [26]:
#Solutions 41

def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [27]:
#Solutions 42

# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [28]:
#Solutions 43

# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [31]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

In [30]:
#Solutions 45

import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'hello', 'the', 'there', 'hows', 'world'}

In [32]:
#Solutions 46

import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [33]:
#Solutions 47

import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [34]:
#Solutions 48

def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [23]:
#Solutions 49

In [35]:
#Solutions 50

def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# TOPIC:List based practice problem

### 1. Create a list with integers from 1 to 10.

In [ ]:
# Use a list comprehension to create a list of integers from 1 to 10
integer_list = [i for i in range(1, 11)]

# Print the list
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [ ]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

# Example list
my_list = [10, 20, 30, 40, 50]

# Find the length of the list using the custom_len function
length = custom_len(my_list)

# Print the length of the list
print("Length of the list:", length)

Length of the list: 5

In [ ]:
s = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
lines = s.split("\n")

lst = []
for line in lines:
  field = line.split(",")
  lst.append(field)

for row in lst:
  print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

### 3. Append an element to the end of a list.

In [ ]:
# Example list
my_list = [10, 20, 30]

# Element to append
new_element = 40

# Append the new element to the end of the list
my_list.append(new_element)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 30, 40]

### 4. Insert an element at a specific index in a list.

In [ ]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to insert
new_element = 25

# Index at which to insert the element
index_to_insert = 2

# Insert the new element at the specified index
my_list.insert(index_to_insert, new_element)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 25, 30, 40, 50]

### 5. Remove an element from a list by its value.

In [ ]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to remove
element_to_remove = 30

# Remove the element by its value
my_list.remove(element_to_remove)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 40, 50]

### 6. Remove an element from a list by its index.

In [ ]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Index of the element to remove
index_to_remove = 2

# Remove the element at the specified index
removed_element = my_list.pop(index_to_remove)

# Print the updated list and the removed element
print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [10, 20, 40, 50]
Removed element: 30

### 7. Check if an element exists in a list.

In [ ]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to check
element_to_check = 30

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

30 exists in the list.

### 8. Find the index of the first occurrence of an element in a list.

In [ ]:
# Example list
my_list = [10, 20, 30, 40, 50, 30]

# Element to find the index of
element_to_find = 30

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

# Print the index
print(f"The index of {element_to_find} is {index}")

The index of 30 is 2

### 9. Count the occurrences of an element in a list.

In [ ]:
# Example list
my_list = [10, 20, 30, 40, 50, 30, 30]

# Element to count occurrences of
element_to_count = 30

# Count the occurrences of the element
count = my_list.count(element_to_count)

# Print the count
print(f"The element {element_to_count} occurs {count} times in the list.")

The element 30 occurs 3 times in the list.

### 10. Reverse the order of elements in a list.

In [ ]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Reverse the order of elements in the list
my_list.reverse()

# Print the reversed list
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

### 11. Sort a list in ascending order.

In [ ]:
# Example list
my_list = [50, 10, 30, 40, 20]

# Sort the list in ascending order
my_list.sort()

# Print the sorted list
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

### 12. Sort a list in descending order.

In [ ]:
# Example list
my_list = [50, 10, 30, 40, 20]

# Sort the list in descending order
my_list.sort(reverse=True)

# Print the sorted list
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [50, 40, 30, 20, 10]

### 13. Create a list of even numbers from 1 to 20.

In [ ]:
# Use a list comprehension to create a list of even numbers from 1 to 20
even_numbers = [x for x in range(2, 21, 2)]

# Print the list of even numbers
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [ ]:
# Use a list comprehension to create a list of odd numbers from 1 to 20
odd_numbers = [x for x in range(1, 21, 2)]

# Print the list of odd numbers
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [ ]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Calculate the sum of all elements in the list
total_sum = sum(my_list)

# Print the sum
print("Sum of elements:", total_sum)

Sum of elements: 150

### 16. Find the maximum value in a list.

In [ ]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Find the maximum value in the list
max_value = max(my_list)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 50

### 17. Find the minimum value in a list.

In [ ]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Find the minimum value in the list
min_value = min(my_list)

# Print the minimum value
print("Minimum value:", min_value)

Minimum value: 10

### 18. Create a list of squares of numbers from 1 to 10.

In [ ]:
# Use a list comprehension to create a list of squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [ ]:
import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [18, 70, 27, 94, 47, 97, 7, 11, 42, 41]

### 20. Remove duplicates from a list.

In [ ]:
# Example list with duplicates
my_list = [10, 20, 30, 20, 40, 10, 50, 30]

# Remove duplicates by converting to a set and back to a list
unique_list = list(set(my_list))

# Print the list without duplicates
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

### 21. Find the common elements between two lists.

### 22. Find the difference between two lists.

In [ ]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

### 23. Merge two lists.

In [ ]:
# Example lists
list1 = [10, 20, 30]
list2 = [40, 50, 60]

# Merge lists using the + operator
merged_list = list1 + list2

# Print the merged list
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

### 24. Multiply all elements in a list by 2.

In [ ]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Multiply all elements by 2 using a list comprehension
multiplied_list = [x * 2 for x in my_list]

# Print the multiplied list
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

### 25. Filter out all even numbers from a list.

Filtered list (odd numbers): [15, 25, 35, 45]

### 26. Convert a list of strings to a list of integers.

In [ ]:
# Example list of strings
string_list = ["10", "20", "30", "40", "50"]

# Convert list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

# Print the list of integers
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

### 27. Convert a list of integers to a list of strings.

In [ ]:
# Example list of integers
integer_list = [10, 20, 30, 40, 50]

# Convert list of integers to list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

# Print the list of strings
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

### 28. Flatten a nested list.

In [ ]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

### 29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(2)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

### 30. Check if a list is sorted.
  
  - Checking for ascending order:

In [ ]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

### 31. Rotate a list to the left by `n` positions.

In [ ]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

### 32. Rotate a list to the right by `n` positions.

In [ ]:
# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

### 33. Create a list of prime numbers up to 50.

In [ ]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

### 34. Split a list into chunks of size `n`.

In [ ]:
# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 35. Find the second largest number in a list.

In [ ]:
# Example list
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

### 36. Replace every element in a list with its square.

In [ ]:
# Example list
my_list = [2, 4, 6, 8, 10]

# Replace every element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
# Example list
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

### 38. Shuffle the elements of a list randomly.

In [ ]:
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [7, 10, 1, 6, 8, 9, 2, 3, 5, 4]

### 39. Create a list of the first 10 factorial numbers.

In [ ]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### 40. Check if two lists have at least one element in common.

In [ ]:
# Function to check if two lists have at least one element in common
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

### 41. Remove all elements from a list.

In [ ]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

Using the clear() method, approach will result in an empty list.

### 42. Replace negative numbers in a list with 0.

In [ ]:
# Example list
my_list = [10, -5, 20, -15, 30, -25]

# Step 1: Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

### 43. Convert a string into a list of words.

In [ ]:
# Example string
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

### 44. Convert a list of words into a string.

In [ ]:
# Example list of words
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

### 45. Create a list of the first `n` powers of 2.

In [ ]:
# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

### 46. Find the longest string in a list of strings.

In [ ]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

### 47. Find the shortest string in a list of strings.

In [ ]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: date

### 48. Create a list of the first `n` triangular numbers.

In [ ]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

### 49. Check if a list contains another list as a subsequence.

In [ ]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

### 50. Swap two elements in a list by their indices.

In [ ]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

# TOPIC:Tuple based practice problem

### 1. Create a tuple with integers from 1 to 5.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Access the third element of the tuple
third_element = my_tuple[2]

# Explanation: In this line, we use indexing to access the third element of the tuple.
# Since indexing is 0-based, the third element is at index 2.

# Step 3: Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

### 2. Access the third element of a tuple.

In [ ]:
# Step 1: Create a tuple with some elements
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Access the third element (index 2) of the tuple
third_element = my_tuple[2]

# Step 3: Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

### 3. Find the length of a tuple without using the `len()` function.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Initialize a variable to count the elements
count = 0

# Step 3: Iterate through the tuple and increment the count for each element
for _ in my_tuple:
    count += 1

# Step 4: Print the length of the tuple
print("The length of the tuple is:", count)

The length of the tuple is: 5

### 4. Count the occurrences of an element in a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50, 20)

# Step 2: Choose the element to count occurrences of
element_to_count = 20

# Step 3: Initialize a variable to keep track of the count
count = 0

# Step 4: Iterate through the tuple and count occurrences of the chosen element
for item in my_tuple:
    if item == element_to_count:
        count += 1

# Step 5: Print the count of occurrences
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

### 5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50)

# Step 2: Choose the element to find the index of
element_to_find = 20

# Step 3: Initialize a variable to keep track of the index
index = -1  # Initialize with -1 to indicate that the element was not found

# Step 4: Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

# Step 5: Print the index of the first occurrence
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

### 6. Check if an element exists in a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Choose the element to check for existence
element_to_check = 30

# Step 3: Check if the element exists in the tuple using the 'in' operator
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

### 7. Convert a tuple to a list.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Convert the tuple to a list
my_list = list(my_tuple)

# Step 3: Print the resulting list
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

### 8. Convert a list to a tuple.

In [ ]:
# Step 1: Create a list
my_list = [10, 20, 30, 40, 50]

# Step 2: Convert the list to a tuple
my_tuple = tuple(my_list)

# Step 3: Print the resulting tuple
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

### 9. Unpack the elements of a tuple into variables.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

### 10. Create a tuple of even numbers from 1 to 10.

In [ ]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

### 12. Concatenate two tuples.

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Step 3: Print the concatenated tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

### 13. Repeat a tuple three times.

In [ ]:
# Step 1: Create a tuple
original_tuple = (1, 2, 3)

# Step 2: Repeat the tuple three times
repeated_tuple = original_tuple * 3

# Step 3: Print the repeated tuple
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

### 14. Check if a tuple is empty.

In [ ]:
# Step 1: Create an empty tuple and a non-empty tuple
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Step 2: Check if the tuples are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

### 15. Create a nested tuple.

In [ ]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

### 16. Access the first element of a nested tuple.

In [ ]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Access the first element of the nested tuple
first_element = nested_tuple[0]

# Step 3: Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

### 17. Create a tuple with a single element.

In [ ]:
# Step 1: Create a tuple with a single element
single_element_tuple = (42,)  # Note the trailing comma

# Step 2: Print the single element tuple
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

### 18. Compare two tuples.

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

### 19. Delete a tuple.

In [36]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Step 2: Delete the tuple using the 'del' statement
del my_tuple

# Step 3: Try to access the tuple (will raise a NameError)
print(my_tuple)

NameError: ignored

### 20. Slice a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Step 2: Slice the tuple to get a portion of it
sliced_tuple = my_tuple[2:6]  # Elements from index 2 to 5 (end index is exclusive)

# Step 3: Print the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

### 21. Find the maximum value in a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Step 2: Find the maximum value in the tuple using the 'max()' function
max_value = max(my_tuple)

# Step 3: Print the maximum value
print("Maximum value:", max_value)

Maximum value: 45

### 22. Find the minimum value in a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Step 2: Find the minimum value in the tuple using the 'min()' function
min_value = min(my_tuple)

# Step 3: Print the minimum value
print("Minimum value:", min_value)

Minimum value: 5

### 23. Convert a string to a tuple of characters.

In [ ]:
# Step 1: Create a string
my_string = "Hello, World!"

# Step 2: Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Step 3: Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

### 24. Convert a tuple of characters to a string.

In [ ]:
# Step 1: Create a tuple of characters
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Step 2: Convert the tuple of characters to a string using the 'join()' method
string_from_tuple = ''.join(tuple_of_characters)

# Step 3: Print the resulting string
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

### 25. Create a tuple from multiple data types.

In [ ]:
# Creating a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

### 26. Check if two tuples are identical.

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

### 27. Sort the elements of a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

### 28. Convert a tuple of integers to a tuple of strings.

In [ ]:
# Step 1: Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

### 29. Convert a tuple of strings to a tuple of integers.

In [ ]:
# Step 1: Create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

### 30. Merge two tuples.

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

### 31. Flatten a nested tuple.

In [ ]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

### 32. Create a tuple of the first 5 prime numbers.

In [ ]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

### 3. Check if a tuple is a palindrome.

In [ ]:
# Function to check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

### 34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [ ]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers using a list comprehension
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

# Print the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

### 36. Multiply all elements in a tuple by 2.

In [ ]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = tuple(num * 2 for num in original_tuple)

# Print the doubled tuple
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

### 37. Create a tuple of random numbers.

In [ ]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (96, 86, 64, 54, 55, 96, 1, 88, 85, 43)

### 38. Check if a tuple is sorted.

In [ ]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

### 39. Rotate a tuple to the left by `n` positions.

In [ ]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

### 40. Rotate a tuple to the right by `n` positions.

In [ ]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [ ]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas: s,e,r,,t,y,y,u,
User input tuple: ('s', 'e', 'r', '', 't', 'y', 'y', 'u', '')

### 43. Swap two elements in a tuple.

In [ ]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

### 44. Reverse the elements of a tuple.

In [ ]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [ ]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

### 46. Find the longest string in a tuple of strings.

In [ ]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

### 47. Find the shortest string in a tuple of strings.

In [ ]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

### 48. Create a tuple of the first `n` triangular numbers.

In [ ]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)