1.

arr = [1, 2, 4, 2, 5, 9]

  Output = True

In [3]:
def contains_duplicates(arr):
  seen = set()
  for num in arr:
    if num in seen:
      return True
    seen.add(num)
  return False


arr = [1, 2, 4, 2, 5, 9]
result = contains_duplicates(arr)
print(result)

True

2.

Given an array and an integer k, rotate the array to the right by k steps.

  arr = [1, 2, 3, 4, 5, 6, 7] k = 3

  Output = [5, 6, 7, 1, 2, 3, 4]

In [25]:
def rotate_array(arr, k):
    n = len(arr)
    k = k % n

    rotated_arr = arr[-k:] + arr[:-k]
    arr[:] = rotated_arr

arr = [1, 2, 3, 4, 5, 6, 7]
k = 3
rotate_array(arr, k)
print(arr)

[5, 6, 7, 1, 2, 3, 4]

3.
Reverse the given array in-place, means without using any extra data structure.

  arr = [2, 4, 5, 7, 9, 12]

  Output = [12, 9, 7, 5, 4, 2]

In [29]:
def reverse_array(arr):
    left = 0
    right = len(arr) - 1

    while left < right:
        # Swap elements at the left and right positions
        arr[left], arr[right] = arr[right], arr[left]
        left += 1
        right -= 1

arr = [2, 4, 5, 7, 9, 12]
reverse_array(arr)
print(arr)

[12, 9, 7, 5, 4, 2]

4. Given an array of integers, find the maximum element in an array

  arr = [10, 5, 20, 8, 15]

  Output = 20

In [33]:
def maximum(arr):
  if not arr:
    return None

  max_element =arr[0]

  for num in arr:
    if num > max_element:
      max_element = num

  return max_element

arr = [10, 5, 20, 8, 15]
result = maximum(arr)
print(result)

20

5. Given a sorted array, remove the duplicate element without using any extra data structure.

  arr = [1, 1, 2, 2, 2, 3, 3, 4, 4, 4, 5, 5]

  Output = [1, 2, 3, 4, 5]

In [36]:
def remove_duplicates(arr):
    if not arr:
        return []

    current = 0

    for i in range(1, len(arr)):
       if arr[i] != arr[current]:
            current += 1
            arr[current] = arr[i]

    return arr[:current + 1]

arr = [1, 1, 2, 2, 2, 3, 3, 4, 4, 4, 5, 5]
result = remove_duplicates(arr)
print(result)

[1, 2, 3, 4, 5]