#Basic Level

In [1]:
# Solution 1: Print Numbers from 1 to 10 using a `for` Loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
# Solution 2: Calculate Sum of Numbers in a List using a `for` Loop
numbers = [1, 2, 3, 4, 5]
sum_result = 0

for num in numbers:
    sum_result += num

print("Sum:", sum_result)

Sum: 15

In [3]:
# Solution 3: Print Characters of a String in Reverse Order using a `for` Loop
input_string = "Hello, World!"

for char in reversed(input_string):
    print(char)

!
d
l
r
o
W

,
o
l
l
e
H

In [4]:
# Solution 4: Find Factorial of a Given Number using a `for` Loop
num = 5
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print(f"Factorial of {num} is {factorial}")

Factorial of 5 is 120

In [5]:
# Solution 5: Print Multiplication Table of a Given Number using a `for` Loop
num = 7

for i in range(1, 11):
    product = num * i
    print(f"{num} x {i} = {product}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [6]:
# Solution 6: Count Even and Odd Numbers in a List using a `for` Loop
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = 0
odd_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print(f"Even numbers: {even_count}")
print(f"Odd numbers: {odd_count}")

Even numbers: 5
Odd numbers: 5

In [7]:
# Solution 7: Print Squares of Numbers from 1 to 5 using a `for` Loop
for num in range(1, 6):
    square = num ** 2
    print(f"The square of {num} is {square}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

In [8]:
# Solution 8: Find Length of a String without Using the `len()` Function
input_string = "Hello, World!"
length = 0

for _ in input_string:
    length += 1

print("Length of the string:", length)

Length of the string: 13

In [9]:
# Solution 9: Calculate Average of Numbers in a List using a `for` Loop
numbers = [1, 2, 3, 4, 5]
total = 0

for num in numbers:
    total += num

average = total / len(numbers)
print("Average:", average)

Average: 3.0

In [10]:
# Solution 10: Print First `n` Fibonacci Numbers using a `for` Loop
n = 10
fibonacci_sequence = [0, 1]

for i in range(2, n):
    next_num = fibonacci_sequence[-1] + fibonacci_sequence[-2]
    fibonacci_sequence.append(next_num)

print(f"First {n} Fibonacci numbers:", fibonacci_sequence)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#Intermediate Level:

In [11]:
# Solution 11: Check for Duplicates in a List using a `for` Loop
def has_duplicates(lst):
    seen = set()
    for item in lst:
        if item in seen:
            return True
        seen.add(item)
    return False

numbers = [1, 2, 3, 4, 5, 2]  # Example list with duplicates
if has_duplicates(numbers):
    print("The list contains duplicates.")
else:
    print("The list does not contain duplicates.")

The list contains duplicates.

In [12]:
# Solution 12: Print Prime Numbers in a Given Range using a `for` Loop
start = 10
end = 50

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

print(f"Prime numbers between {start} and {end}:")
for num in range(start, end + 1):
    if is_prime(num):
        print(num)

Prime numbers between 10 and 50:
11
13
17
19
23
29
31
37
41
43
47

In [13]:
# Solution 13: Count Vowels in a String using a `for` Loop
input_string = "Hello, World!"
vowels = "aeiouAEIOU"
count = 0

for char in input_string:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 3

In [14]:
# Solution 14: Find Maximum Element in a 2D List using Nested `for` Loops
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
max_element = matrix[0][0]

for row in matrix:
    for element in row:
        if element > max_element:
            max_element = element

print("Maximum element:", max_element)

Maximum element: 9

In [15]:
# Solution 15: Remove All Occurrences of a Specific Element from a List using a `for` Loop
numbers = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2

while element_to_remove in numbers:
    numbers.remove(element_to_remove)

print("List after removing all occurrences of", element_to_remove, ":", numbers)

List after removing all occurrences of 2 : [1, 3, 4, 5]

In [16]:
# Solution 16: Generate Multiplication Table for Numbers 1 to 5 using Nested `for` Loops
for i in range(1, 6):
    print(f"Multiplication table for {i}:")
    for j in range(1, 11):
        product = i * j
        print(f"{i} x {j} = {product}")
    print()

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [17]:
# Solution 17: Convert List of Fahrenheit Temperatures to Celsius using a `for` Loop
fahrenheit_temperatures = [32, 68, 86, 104, 212]
celsius_temperatures = []

for fahrenheit in fahrenheit_temperatures:
    celsius = (fahrenheit - 32) * 5/9
    celsius_temperatures.append(celsius)

print("Fahrenheit Temperatures:", fahrenheit_temperatures)
print("Celsius Equivalent Temperatures:", celsius_temperatures)

Fahrenheit Temperatures: [32, 68, 86, 104, 212]
Celsius Equivalent Temperatures: [0.0, 20.0, 30.0, 40.0, 100.0]

In [18]:
# Solution 18: Print Common Elements from Two Lists using a `for` Loop
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

print("Common elements between list1 and list2:")
for element in list1:
    if element in list2:
        print(element)

Common elements between list1 and list2:
3
4
5

In [19]:
# Solution 19: Print Pattern of Right-Angled Triangles using a `for` Loop
n = 5

for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [20]:
# Solution 20: Find the Greatest Common Divisor (GCD) of Two Numbers using a `for` Loop
def find_gcd(a, b):
    while b:
        a, b = b, a % b
    return a

num1 = 36
num2 = 48

gcd = find_gcd(num1, num2)
print(f"GCD of {num1} and {num2} is {gcd}")

GCD of 36 and 48 is 12

#Advanced Level:

In [21]:
# Solution 21: Calculate the Sum of Digits of Numbers in a List using List Comprehension
numbers = [123, 45, 6789, 987]

digit_sums = [sum(int(digit) for digit in str(num)) for num in numbers]
print("Sum of digits for each number:", digit_sums)

Sum of digits for each number: [6, 9, 30, 24]

In [22]:
# Solution 22: Find Prime Factors of a Given Number using a `for` Loop and List Comprehension
def find_prime_factors(n):
    factors = [i for i in range(1, n+1) if n % i == 0]
    prime_factors = [factor for factor in factors if all(factor % i != 0 for i in range(2, factor))]
    return prime_factors

number = 24

prime_factors = find_prime_factors(number)
print("Prime factors of", number, "are:", prime_factors)

Prime factors of 24 are: [1, 2, 3]

In [23]:
# Solution 23: Extract Unique Elements from a List using List Comprehension
original_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]

unique_elements = list(set(original_list))
print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5, 6]

In [24]:
# Solution 24: Generate a List of Palindromic Numbers up to a Specified Limit using List Comprehension
limit = 100

palindromic_numbers = [num for num in range(limit + 1) if str(num) == str(num)[::-1]]
print("Palindromic numbers up to", limit, "are:", palindromic_numbers)

Palindromic numbers up to 100 are: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [25]:
# Solution 25: Flatten a Nested List using List Comprehension
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

flattened_list = [element for sublist in nested_list for element in sublist]
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
# Solution 26: Compute the Sum of Even and Odd Numbers in a List Separately using List Comprehension
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_sum = sum([num for num in numbers if num % 2 == 0])
odd_sum = sum([num for num in numbers if num % 2 != 0])

print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Sum of even numbers: 30
Sum of odd numbers: 25

In [27]:
# Solution 27: Generate a List of Squares of Odd Numbers between 1 and 10 using List Comprehension
odd_squares = [num ** 2 for num in range(1, 11) if num % 2 != 0]
print("Squares of odd numbers:", odd_squares)

Squares of odd numbers: [1, 9, 25, 49, 81]

In [28]:
# Solution 28: Combine Two Lists into a Dictionary using List Comprehension
keys = ["a", "b", "c"]
values = [1, 2, 3]

combined_dict = {key: value for key, value in zip(keys, values)}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3}

In [29]:
# Solution 29: Extract Vowels from a String and Store in a List using List Comprehension
input_string = "Hello, World!"
vowels = "aeiouAEIOU"

vowel_list = [char for char in input_string if char in vowels]
print("List of vowels:", vowel_list)

List of vowels: ['e', 'o', 'o']

In [30]:
# Solution 30: Remove Non-Numeric Characters from a List of Strings using List Comprehension
string_list = ["abc123", "456xyz", "789"]

numeric_strings = [s for s in string_list if s.isdigit()]
print("List of numeric strings:", numeric_strings)

List of numeric strings: ['789']

#Challenge Level:

In [31]:
# Solution 31: Generate a List of Prime Numbers using the Sieve of Eratosthenes Algorithm and List Comprehension
def sieve_eratosthenes(limit):
    sieve = [True] * (limit + 1)
    sieve[0] = sieve[1] = False

    for i in range(2, int(limit**0.5) + 1):
        if sieve[i]:
            for j in range(i * i, limit + 1, i):
                sieve[j] = False

    return [i for i in range(2, limit + 1) if sieve[i]]

limit = 100
prime_numbers = sieve_eratosthenes(limit)
print("Prime numbers up to", limit, "are:", prime_numbers)

Prime numbers up to 100 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [32]:
# Solution 32: Generate a List of Pythagorean Triplets up to a Specified Limit using List Comprehension
limit = 20

pythagorean_triplets = [(a, b, c) for a in range(1, limit + 1) for b in range(a, limit + 1)
                        for c in range(b, limit + 1) if a**2 + b**2 == c**2]
print("Pythagorean triplets up to", limit, "are:", pythagorean_triplets)

Pythagorean triplets up to 20 are: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [33]:
# Solution 33: Generate a List of All Possible Combinations of Two Lists using List Comprehension
list1 = [1, 2, 3]
list2 = ['a', 'b']

combinations = [(x, y) for x in list1 for y in list2]
print("All possible combinations of list1 and list2:", combinations)

All possible combinations of list1 and list2: [(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

In [34]:
# Solution 34: Calculate Mean, Median, and Mode of a List of Numbers using List Comprehension
import statistics

numbers = [1, 2, 3, 4, 5, 2, 3, 4, 5, 5]

mean = sum(numbers) / len(numbers)
median = statistics.median(numbers)
mode = statistics.mode(numbers)

print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

Mean: 3.4
Median: 3.5
Mode: 5

In [35]:
# Solution 35: Generate Pascal's Triangle up to a Specified Number of Rows using List Comprehension
def generate_pascals_triangle(n):
    triangle = [[1] * (i + 1) for i in range(n)]
    for i in range(2, n):
        for j in range(1, i):
            triangle[i][j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
    return triangle

num_rows = 5
pascals_triangle = generate_pascals_triangle(num_rows)
for row in pascals_triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [36]:
# Solution 36: Calculate the Sum of the Digits of a Factorial of Numbers from 1 to 5 using List Comprehension
import math

factorial_sums = [sum(int(digit) for digit in str(math.factorial(n))) for n in range(1, 6)]
print("Sum of digits of factorials:", factorial_sums)

Sum of digits of factorials: [1, 2, 6, 6, 3]

In [37]:
# Solution 37: Find the Longest Word in a Sentence using List Comprehension
sentence = "This is a sample sentence to find the longest word."

words = sentence.split()
longest_word = max(words, key=lambda word: len(word))

print("Longest word in the sentence:", longest_word)

Longest word in the sentence: sentence

In [38]:
# Solution 38: Filter a List of Strings to Include Only Those with More than Three Vowels using List Comprehension
def count_vowels(string):
    vowels = "aeiouAEIOU"
    return sum(1 for char in string if char in vowels)

string_list = ["Hello", "Python", "Programming", "AI", "OpenAI"]

filtered_strings = [string for string in string_list if count_vowels(string) > 3]
print("Strings with more than three vowels:", filtered_strings)

Strings with more than three vowels: ['OpenAI']

In [39]:
# Solution 39: Calculate the Sum of the Digits of Numbers from 1 to 1000 using List Comprehension
digit_sums = [sum(int(digit) for digit in str(n)) for n in range(1, 1001)]
print("Sum of digits of numbers from 1 to 1000:", digit_sums)

Sum of digits of numbers from 1 to 1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

In [40]:
# Solution 40: Generate a List of Prime Palindromic Numbers using List Comprehension
def is_prime(n):
    if n <= 1:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    for i in range(3, int(n**0.5) + 1, 2):
        if n % i == 0:
            return False
    return True

def is_palindrome(n):
    return str(n) == str(n)[::-1]

prime_palindromes = [num for num in range(1, 1001) if is_prime(num) and is_palindrome(num)]
print("Prime palindromic numbers from 1 to 1000:", prime_palindromes)

Prime palindromic numbers from 1 to 1000: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]